@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  min-height: 100vh;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  /* sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* sticky footer */
  font-family: 'Montserrat', sans-serif;
  color: #323232;
  font-size: 16px;
  line-height: 1.6875;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* sticky footer */
}

/* Grid styles */
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.container--fluid {
  max-width: unset;
}
.container--no-padding {
  padding: 0;
}
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.button {
  height: 64px;
  padding-left: 40px;
  padding-right: 40px;
  background: #FBDC4D;
  border-radius: 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 64px;
  text-align: center;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}
.button span {
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
  display: inline;
  background-repeat: no-repeat;
  background-position: center bottom 1px;
  background-size: 0% 1px;
  background-image: -webkit-gradient(linear, right top, left top, from(#000000), to(#000000));
  background-image: linear-gradient(to left, #000000, #000000);
}
.button:hover {
  opacity: 0.8;
}
.button:hover span {
  opacity: 0.6;
  background-size: 100% 1px;
}

.button--gray {
  background: #EFF7FC;
}
.button--gray:hover {
  opacity: 0.8;
}
.button--gray:hover span {
  opacity: 0.6;
  background-size: 100% 1px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}
.social-links a {
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}
.social-links a:hover {
  opacity: 0.6;
}

.contact-link {
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  color: #1A71D2;
  font-weight: 400;
  font-size: 22px;
}

.card {
  width: 350px;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  line-height: 1.3;
}
.card:hover {
  opacity: 0.7;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.card--big {
  width: 540px;
}
.card--big .card-img {
  width: 540px;
  height: 370px;
  margin-bottom: 20px;
}
.card--big .card-description .card-description-title {
  margin-bottom: 8px;
  font-size: 30px;
}
.card--big .card-description .card-description-subtitle {
  font-size: 20px;
}

.card-img {
  margin-bottom: 16px;
  width: 350px;
  height: 220px;
}
.card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-description-title {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 24px;
}

.card-description-subtitle {
  font-weight: 400;
  font-size: 18px;
}

.main-title {
  font-weight: 700;
  font-size: 78px;
  line-height: 1;
}

.section-title {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.3;
}

.steps-tree-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}

.title-grad {
  display: inline;
  background-repeat: no-repeat;
  background-position: center bottom 15px;
  background-size: 100% 12px;
  background-image: -webkit-gradient(linear, right top, left top, from(#FBDC4D), to(#FBDC4D));
  background-image: linear-gradient(to left, #FBDC4D, #FBDC4D);
}

.title-grad--section {
  display: inline;
  background-repeat: no-repeat;
  background-position: center bottom 10px;
  background-size: 100% 8px;
  background-image: -webkit-gradient(linear, right top, left top, from(#FBDC4D), to(#FBDC4D));
  background-image: linear-gradient(to left, #FBDC4D, #FBDC4D);
}

.title-grad--steps {
  display: inline;
  background-repeat: no-repeat;
  background-position: center bottom 3px;
  background-size: 100% 6px;
  background-image: -webkit-gradient(linear, right top, left top, from(#FBDC4D), to(#FBDC4D));
  background-image: linear-gradient(to left, #FBDC4D, #FBDC4D);
}

.header-top {
  padding-top: 60px;
}

.header-top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
}

.header-top-nav-link {
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
  display: inline;
  background-repeat: no-repeat;
  background-position: center bottom 1px;
  background-size: 0% 2px;
  background-image: -webkit-gradient(linear, right top, left top, from(#FBDC4D), to(#FBDC4D));
  background-image: linear-gradient(to left, #FBDC4D, #FBDC4D);
}
.header-top-nav-link:hover {
  background-size: 100% 2px;
}
.header-top-nav-link:focus {
  background-image: -webkit-gradient(linear, right top, left top, from(#9d8102), to(#9d8102));
  background-image: linear-gradient(to left, #9d8102, #9d8102);
}

.header-top-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 26px;
          column-gap: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top-links a:hover path {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  fill: #FBDC4D;
}
.header-top-links a:focus path {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  fill: #9d8102;
}

.header-content {
  padding-top: 81px;
}

.header-title {
  position: relative;
  z-index: 2;
}

.header-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100px;
          column-gap: 100px;
}

.header-title-description {
  padding-top: 20px;
  width: 535px;
}

.header-heading-wrapper {
  margin-bottom: 30px;
}

.header-title-description p {
  width: 540px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.header-title-description a:last-child {
  margin-left: 16px;
}

.header-title-img {
  -webkit-box-shadow: 40px 40px rgba(255, 255, 255, 0.5);
          box-shadow: 40px 40px rgba(255, 255, 255, 0.5);
  border-radius: 20%;
}
.header-title-img img {
  width: 475px;
  height: 410px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20%;
}

.header-banner {
  margin-top: -155px;
  margin-bottom: -32px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.skills {
  padding-top: 70px;
  margin-top: -70px;
  padding-bottom: 90px;
  line-height: 1.3;
}

.skills-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 87px;
          column-gap: 87px;
}

.skills-column .contact-link {
  margin-top: 20px;
}

.skills-column-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 42px;
}

.skills-description-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  font-weight: 400;
  font-size: 22px;
}

.skills-description-item::before {
  content: "—";
  padding-right: 3px;
}

.portfolio {
  padding-top: 80px;
  padding-bottom: 90px;
  background: -webkit-gradient(linear, left bottom, left top, from(#F5FBFF), to(#F5FBFF)), #F4F8F9;
  background: linear-gradient(0deg, #F5FBFF, #F5FBFF), #F4F8F9;
}

.portfolio-row {
  padding-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 50px;
}

.steps {
  padding-top: 70px;
  padding-bottom: 90px;
  text-align: center;
}

.steps-tree {
  width: 901px;
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.steps-tree-item {
  position: relative;
  width: 50%;
  padding-right: 53px;
  padding-bottom: 58px;
  text-align: right;
  /* Круг */
  /* Линия */
  /* Стили для четных элементов*/
  /* Удаление линии у последнего элемента */
}
.steps-tree-item p {
  padding-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}
.steps-tree-item span {
  display: block;
  padding-top: 7px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
}
.steps-tree-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: -17px;
  width: 34px;
  height: 34px;
  border: 4px solid #E1EEF4;
  border-radius: 50%;
}
@media (max-width: 899px) {
  .steps-tree-item::before {
    right: auto;
    left: 0;
  }
}
.steps-tree-item::after {
  content: "";
  position: absolute;
  top: 34px;
  right: -2px;
  bottom: 0;
  width: 4px;
  background-color: #E1EEF4;
}
@media (max-width: 899px) {
  .steps-tree-item::after {
    right: auto;
    left: 15px;
  }
}
.steps-tree-item:nth-child(even) {
  margin-left: auto;
  padding-left: 53px;
  text-align: left;
  /* Круг */
  /* Линия */
}
.steps-tree-item:nth-child(even)::before {
  right: auto;
  left: -17px;
}
@media (max-width: 899px) {
  .steps-tree-item:nth-child(even)::before {
    left: 0px;
  }
}
.steps-tree-item:nth-child(even)::after {
  right: auto;
  left: -2px;
}
@media (max-width: 899px) {
  .steps-tree-item:nth-child(even)::after {
    left: 15px;
  }
}
@media (max-width: 899px) {
  .steps-tree-item:nth-child(even) {
    margin-left: 0;
  }
}
.steps-tree-item:last-child {
  padding-bottom: 0;
}
.steps-tree-item:last-child::after {
  width: 0;
}

.footer {
  overflow: hidden;
  margin-top: auto;
  /* sticky footer */
  padding-top: 70px;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#F5FBFF), to(#F5FBFF)), #F4F8F9;
  background: linear-gradient(0deg, #F5FBFF, #F5FBFF), #F4F8F9;
}

.footer-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.footer-contacts-list {
  margin-bottom: 32px;
}

.footer-contaсts-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-contaсts-list-item span {
  width: 189px;
  text-align: left;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.6;
}
.footer-contaсts-list-item a {
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6;
  color: #1A71D2;
}
.footer-contaсts-list-item a:hover {
  color: #000000;
}
.footer-contaсts-list-item:not(:last-child) {
  margin-bottom: 22px;
}

.footer-description {
  width: 538px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}

.footer-icon {
  position: absolute;
  bottom: -5px;
  right: -110px;
}

.footer-copyright {
  margin-top: 90px;
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #333333;
}

.footer-copyright-title {
  margin-bottom: 10px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #FFFFFF;
}

.footer-copyright-subtitle {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #B0B0B0;
}
.footer-copyright-subtitle a {
  text-decoration: underline;
  color: #FFFFFF;
}

/*# sourceMappingURL=main.css.map */