.button {
    height: 64px;
    padding-left: 40px;
    padding-right: 40px;

    background: #FBDC4D;
    border-radius: 50px;    

    font-weight: 700;
    font-size: 20px;
    line-height: 64px;
    text-align: center;

    transition: .5s ease-in;

    &:hover{
        background: #FFEB8D;
    }

    &:active{
        background: #F5D22D;
    }

    /* Tablet Big */
    @media (max-width: 1139px) {
       height: 58px;
       line-height: 58px;

       padding-left: 26px;
       padding-right: 26px;
    }

    /* Tablet Small */
    @media (max-width: 899px) {
       display: none;
    }
}

.header-nav-button{
    display: none;

    /* Tablet Small */
    @media (max-width: 899px) {
       display: block;
    }
}

.button--gray {
    background: #EFF7FC;

    &:hover {
        background: #D1EDFF;
    }

    &:active{
        background: #B0DCF8;
    }
}