.button {
    height: 64px;
    padding-left: 40px;
    padding-right: 40px;

    background: #FBDC4D;
    border-radius: 50px;    

    font-weight: 700;
    font-size: 20px;
    line-height: 64px;
    text-align: center;
}

.button--gray {
    background: #EFF7FC;
}