.header {
}
.header-top {
    padding-top: 60px;
}

.header-top-row {
    display: flex;
    justify-content: space-between;
}

.header-top-nav {
    display: flex;
    align-items: center;
}
.header-top-nav-list {
    display: flex;
    column-gap: 100px;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;

}
.header-top-nav-item {
}
.header-top-links {
    display: flex;
    column-gap: 26px;
}

.header-content {
    padding-top: 81px;
}

.header-title {
    display: flex;
    column-gap: 140px;
}

.header-title-description{
    padding-top: 20px;

    width: 535px;
}

.header-title-description h1 {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 78px;
    line-height: 1;
}

.header-title-description p{
    font-weight: 400;
    font-size: 22px;
    line-height: 1.6;

    margin-bottom: 30px;
}

.header-title-description p:last-child {
    margin-bottom: 30px;
}

.header-title-description a:last-child {
    margin-left: 16px;
}

.header-title-img{
    display: flex;
    width: 550px;
    height: 450px;

    padding-right: 40px;
    padding-bottom: 40px;
}

.header-title-img img{
   width: 100%;
   height: 100%;
}

.header-banner {
    padding-top: -190px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.header-skills {
}