.social-links {
    display: flex;
    column-gap: 30px;

    a{
        transition: .3s ease-in;
        &:hover{
            opacity: 0.6;
        }
    }
}

.contact-link {
    transition: .3s ease-in;

    color: #1A71D2;
    font-weight: 400;
    font-size: 22px;
}