.footer {
	margin-top: auto; /* sticky footer */
    
    padding-top: 70px;

	text-align: center;
	background: linear-gradient(0deg, #F5FBFF, #F5FBFF), #F4F8F9;
}

.footer-copyright {
    margin-top: 90px;

    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #333333;
}

.footer-copyright-title {
    margin-bottom: 10px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;

    color: #FFFFFF;
}

.footer-copyright-subtitle {
    width: 825px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    color: #B0B0B0;
}

.footer-copyright-subtitle a {
    text-decoration: underline;

    color: #FFFFFF;
}