.footer {
    overflow: hidden;
	margin-top: auto; /* sticky footer */
    
    padding-top: 70px;

	text-align: center;
	background: linear-gradient(0deg, #F5FBFF, #F5FBFF), #F4F8F9;
}

.footer-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;

    margin-top: 60px;
}

.footer-contacts-list {
    margin-bottom: 32px;
}

.footer-contaсts-list-item {
    display: flex;

    span{
        width: 189px;

        text-align: left;
        font-weight: 600;
        font-size: 22px;
        line-height: 1.6;
    }

    a{
        transition: .3s ease-in;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.6;

        color: #1A71D2;

        &:hover{
            color: #000000;
        }
    }

    &:not(:last-child){
        margin-bottom: 22px;
    }
}
.footer-description {
    width: 538px;

    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
}

.footer-icon{
    position: absolute;
    bottom: -5px;
    right: -110px;
}

.footer-copyright {
    margin-top: 90px;

    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #333333;
}

.footer-copyright-title {
    margin-bottom: 10px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;

    color: #FFFFFF;
}

.footer-copyright-subtitle {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    color: #B0B0B0;

    a {
        text-decoration: underline;

        color: #FFFFFF;
    }
}