.header-top {
    position: sticky;
    top: -50px;
    padding-top: 60px;
    padding-bottom: 15px;
    margin-bottom: -15px;

    z-index: 10;
    background-color: rgba(255, 255, 255, 0.7);
}

.header-top-row {
    display: flex;
    justify-content: space-between;
}

.header-top-nav {
    display: flex;
    align-items: center;
}

.header-top-nav-list {
    display: flex;
    column-gap: 100px;

    font-weight: 600;
    font-size: 20px;

    /* Tablet Big */
    @media (max-width: 1139px){
        font-size: 18px;
        column-gap: 50px;
    }

    /* Tablet Small */
    @media (max-width: 899px) {
       display: none;
    }

}

.header-top-nav-link{
    transition: .5s ease-in;

    display: inline;
    background-repeat: no-repeat;
    background-position: center bottom 1px;
    background-size: 0% 2px;
    background-image: linear-gradient(to left , #FBDC4D, #FBDC4D);

    &:hover{
        background-size: 100% 2px;
    }

    &:focus{
        color: #FF543E;
        background-image: linear-gradient(to left , #9d8102, #9d8102);
    }

    &:active{
        color: #FF543E;
    }
}

.header-top-links {
    display: flex;
    column-gap: 26px;
    align-items: center;
    
    a{
        &:hover path{
            transition: 0.3s ease-in;
            fill: #FBDC4D;
            opacity: 0.75;
        }

        &:focus path, &:active path{
            transition: 0.3s ease-in;
            fill: #9d8102;
        }

        svg {
            /* Tablet Big*/
            @media (max-width: 1139px) {
               max-width: unset;
            }
        }

        /* Tablet Big*/
        @media (max-width: 1139px) {
           width: 36px;
           height: 36px;
        }
    }

    /* Tablet Small */
    @media (max-width: 899px) {
       display: none;
    }
}

.header-content {
    margin-top: 81px;

    /* Tablet Big */
    @media (max-width: 1139px){
        margin-top: 56px;
    }

    /* Tablet Small */
    @media (max-width: 899px) {
       margin-top: 30px;
    }
}

.header-title {
    position: relative;
    z-index: 2;
}

.header-title-wrapper{
    display: flex;
    column-gap: 100px;
    
    /* Tablet Big */
    @media (max-width: 1139px) {
       column-gap: 75px;
    }

    /* Tablet Small */
    @media (max-width: 899px) {
       column-gap: 95px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        flex-direction: column;
     }
}

.header-title-description{
    padding-top: 20px;

    width: 535px;

    p {
        width: 540px;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.6;

        margin-bottom: 30px;

        /* Tablet Big */
        @media (max-width: 1139px) {
            width: 420px;
            font-size: 18px;
            margin-bottom: 28px;
        }

        /* Tablet Small */
        @media (max-width: 899px) {
            width: 354px;
            font-size: 16px;
            margin-bottom: 0;
        }

        /* Mobile */
        @media (max-width: 767px) {
           display: none;
        }

        // &:last-child{
        //     margin-bottom: 30px;
        // }
    }

    p + p{
        margin-top: 15px;
    }

    a:last-child{
        margin-left: 16px;
    }

    /* Tablet Big */
    @media (max-width: 1139px) {
        padding-top: 10px;
        width: 420px;
    }

    /* Tablet Small */
    @media (max-width: 899px) {
       padding-top: 35px;
       width: 354px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        padding-top: 0;
       width: 290px;
    }

}

.header-heading-wrapper{
    margin-bottom: 30px;

    /* Tablet Big */
    @media (max-width: 1139px) {
       margin-bottom: 20px;
    }

    /* Tablet Small */
    @media (max-width: 899px) {
       margin-bottom: 12px;
    }

    /* Mobile */
    @media (max-width: 767px) {
       margin-bottom: 16px;
    }
}

.header-title-img{
    box-shadow: 40px 40px rgba(255, 255, 255, 0.5);
    border-radius: 20%;

    img {
        width: 475px;
        height: 410px;
        object-fit: cover;

        border-radius: 20%;

        /* Tablet Big */
        @media (max-width: 1139px) {
           width: 376px;
           height: 325px;
        }

        /* Tablet Small */
        @media (max-width: 899px) {
           width: 290px;
           height: 250px;
        }
    }

    /* Tablet Big */
    @media (max-width: 1139px) {
       box-shadow: unset;
    }
}

.header-banner {
    margin-top: -155px;
    margin-bottom: -32px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

    /* Tablet Big */
    @media (max-width: 1139px) {
       margin-top: -83px;
       margin-bottom: -8px;
    }

    /* Tablet Small */
    @media (max-width: 899px) {
        margin-top: -93px;
        margin-bottom: -12px;
    }

    /* Mobile */
    @media (max-width: 767px) {
       margin-top: -3px;
       margin-bottom: 16px;
    }
}

.header-mobile-text{
    display: none;

    font-weight: 700;
    font-size: 20px;
    line-height: 1;

    /* Tablet Small */
    @media (max-width: 899px) {
       display: inline-block;
    }
}

.header-mobile-description{
    display: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;

    /* Mobile */
    @media (max-width: 767px) {
       display: block;
       margin-top: 10px;
    }
}

