.skills{
    padding-top: 70px; // Чтобы во время прокрутки к этому блоку на странице, блок располагался с отступом от верхнего края страницы
    margin-top: -70px; // Компенсируем верхний паддинг для правильного отображения во время прокрутки к этому блоку
    padding-bottom: 90px;

    line-height: 1.3;
}

.skills-wrapper{
    display: flex;
    column-gap: 87px;
}

.skills-column-title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 42px;
}

.skills-column-link {
    transition: .3s ease-in;
    margin-top: 20px;

    color: #1A71D2;
    font-weight: 400;
    font-size: 22px;
}

.skills-description-list{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    font-weight: 400;
    font-size: 22px;
}

.skills-description-item{

    &::before{
        content: "—";
        padding-right: 3px;
    }
}